artifacts_returns_data.rds
artifacts_returns_graphs_equal.rds
artifacts_general_herding.rds
artifacts_herding_crisis.rds
artifacts_herding_dot_crisis.rds
artifacts_herding_gd_crisis.rds
artifacts_returns_graphs_weighted_part_2.rds
artifacts_returns_graphs_weighted_part_1.rds
